
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 2 */
.text-color-2{
    color: rgba(66, 66, 66, 1);   
}
/* dark 3 */
.text-color-3{
color: rgba(114, 114, 114, 1);
}
.display-flex{
    display: flex;
}
.nav{
   justify-content: space-between; 
}
.nav-item{
    list-style: none;
    margin-right: 25px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: ;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
}